.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: transparent;
}

.parts {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
}

.part {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

.text {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    color: var(--surface-fg-quaternary);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.15s;
    white-space: nowrap;
}

@media (hover: hover) {
    .text:hover {
        color: var(--surface-fg-primary);
        text-decoration: underline;
    }
}

.part:last-child .text {
    color: var(--control-fg-selected);
    cursor: default;
    pointer-events: none;
    font-weight: var(--font-weight-bold);
}

.chevron {
    font-size: var(--icon-size-sm);
    color: var(--surface-fg-quaternary);
}