:root {
    --extreme-left-nav-width: 208px;
}

.extremeLeftNav {
    width: var(--extreme-left-nav-width);
    height: 100%;
    background-color: var(--surface-bg-primary);
    flex-shrink: 0;
    border-right: 1px solid var(--surface-border-secondary);
    overflow: hidden;
    /* Non-scrolling */
}

.navImage {
    width: 100%;
    height: auto;
    display: block;
}