.mainContainer {
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--surface-bg-primary);
    overflow: hidden;
    /* transition: grid-template-columns 0.3s cubic-bezier(0.4, 0, 0.2, 1); */
    /* grid-template-rows: 1fr; */
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
    overflow: hidden;
}

.navContainer {
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navRow1,
.navRow2 {
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 20px;
}

.navRow1 {
    height: 20px;
    justify-content: flex-start;
}

.navRow2 {
    min-height: 32px;
    justify-content: space-between;
}

.pageTitle {
    font-size: 18px;
    line-height: 28px;
    color: var(--surface-fg-secondary);
    text-align: left;
    margin: 0;
    font-weight: 600;
}

.row2Actions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.toolbarWrapper {
    flex-shrink: 0;
}

.viewWrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.detailPanelWrapper {
    border-left: 1px solid var(--surface-border-secondary);
    height: 100%;
    position: relative;
    flex-shrink: 0;
    will-change: width;
}

.detailPanelWrapper[data-resizing="true"] {
    transition: none;
}