.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.header {
    padding: 0 16px;
    margin-bottom: 8px;
    margin-top: 0;

    /* Typography: Inter Semibold 16px */
    font-family: 'Inter', sans-serif;
    font-size: var(--font-size-md);
    /* 16px */
    font-weight: var(--font-weight-semibold);
    /* 600 */
    color: var(--surface-fg-primary);
    /* Grey-900 */
    line-height: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* Minor vertical spacing between items */
}